.gitignore

# General
*.pyc
__pycache__/
*.db
*.sqlite3
*.log
*.swp
.DS_Store

# Virtual environment
backend/venv/

# Frontend build and dependencies
/node_modules/
/build/
/npm-debug.log

# Environment configuration
.env

# IDE-specific files
.vscode/
*.code-workspace

# Docker-specific files
/docker/.env
/docker/.env.db
/docker/.env.web
